
:root{
  --fondo:rgb(246, 244, 243);
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10px */    
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*Fonts from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Raleway:wght@500&display=swap');

/*Globals*/
html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
  background-color: var(--fondo);
}


h1, h2 , h3 {
  margin: 0;
  color: #9c460c;
  text-shadow: 3px 4px 3px rgb(255, 255, 255);
  font-family: 'Fira Sans', sans-serif;
}
h2 {
  font-size: 30px;
}
h3{
  font-size: 25px;
}
p {
  margin: 0;
  text-align: justify;
  font-size: large;
  padding: 10px;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  font-family: 'Fira Sans', sans-serif;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  color: black;
}
img {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/*Navegation and logo*/

#nav-container {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px black solid;
}

#logo {
  width: 100px;
  cursor: pointer;
}

#nav-container > ul {
  margin-right: 40px;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-container > ul > li:hover a {
  color: #cd2971;
}




/*Header section*/
#header-container {
  display: grid;
  place-items: center;
  margin: 10px auto;
  width: 70%;
  height: 60vh;
  padding: 20px;
  background-color: #cd2971;
  background: url("../images/background-3.jpg") no-repeat top right / cover;
}

/*Content inside the header for all pages*/
#hook-container {
  width: 300px;
  padding: 10px;
  background-color:rgba(246, 244, 243, .6);
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  animation: 5s hook-zoom forwards;
}

/*animation for content header*/
@keyframes hook-zoom {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

/*button header content*/
.general-button {
  margin: 0 auto;
  padding: 10px;
  width: 80%;
  background-color: blanchedalmond;
  border-radius: 10px;
  /* line-height: 2.5rem; */
}
.general-button:hover{
  transform: scale(1.1);
  background-color: #9c460c;
  color: white;
}
.general-button a {
  display: block;
  font-size: 15px;
}

/*Services section*/
#services-container{
  margin-bottom: 10px;
  text-align: center;
  display: flex;
}
#content-services > h3{
  margin: 0;
  font-size:30px;
  color: #9c460c;
}
#content-services > p{
  margin: 0 auto;
  width: 80%;
  text-align: justify;

}
#side-image-container{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.img-container{
  /* width: 200px; */
  width: 200px;
  height: 200px;
  flex: 0.5 1 200px;
}

/*First steps section contains tips and images of every tip*/
#first-steps-container {
  width: 100%;
  color:#9c460c;
  font-size: 30px;
  text-align: center;
  border-top: 1px solid rgb(241, 193, 169);
}
#first-steps-container h2{
  margin: 20px 0;
}

/*Tips section*/
.tips-container{
  display: flex;
}
#image-tips{
  text-align: center;
  width: 80% !important;
  height: 80% !important;
}
.tips{
  margin: 0 auto;
  width: 80%;
  text-align: justify;
}

/*Footer*/

footer {
  display: flex;
  background-color: blanchedalmond;
}

footer div, footer p{
  flex: 0 0 calc(50% - 10px);
}
#social-media-container{
  display: flex;
  justify-content:center;
  align-items: center;
}

#social-media-container a{
  margin-right: 20px;
}

#social-media-container a:hover{
  color: white;
}



/*Support page style*/
#header-support-container {
  display: grid;
  place-items: center;
  margin: 10px auto;
  width: 70%;
  height: 60vh;
  padding: 20px;
  background-color: #cd2971;
  background: url("../images/therapy2.jpg") no-repeat center center / cover;
}
#hook-support-container {
  width: 500px;
  padding: 10px;
  background-color:rgba(246, 244, 243, .6);
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  animation: 5s hook-zoom forwards;
}
#hook-support-container h2{
  font-size: 30px;
  margin: 0;
}


/*contact page HEADER*/
#header-container-contact{
  display: grid;
  width: 100%;
  height: 80vh;
  background-color: rgb(173, 216, 230);
  background: url("../images/therapy2.jpg") no-repeat center center / cover;
  place-items: center;
}

#form-container{
  width: 80%;
  display: flex;
  background: rgba(92, 223, 129, 0.4);
  padding: 20px;
}
#form-container form,div{
  flex: 0 0 calc(50% - 10px);
}
#form-container form >label,input{
  display: block;
  margin: 10px 0;
}
#buttons-contact-container{
  display:flex;
}