/* apply a natural box layout model to all elements,
but allowing components to change*/
html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;

}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
}

/*Globals*/

h1{
    font-size: 3.5rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 2rem;
}
p{
    font-size: large;
    padding: 10px;
}

ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 400;
    color: black;
}


/*Navegation and logo*/

#nav-container {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(92, 223, 129, 0.729);

}

#logo {
    width: 100px;
    cursor: pointer;
}

#nav-container > ul {
    margin-right: 40px;
    width:40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-container > ul > li:hover a{
    color:yellow;
    border-bottom: 1px solid yellow;
}


/*Header section*/
#header-container {
    width: 100%;
    height: 80vh;
    background-color: rgb(173, 216, 230);
    background: url("/assets/images/background-1.jpg") no-repeat center top / cover;
}

#header-container > div{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 20%;
    top: 30%;
    width: 500px;
    height: 400px;
    background-color: rgba(92, 223, 129, .5);
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    animation: 5s hook-zoom forwards;
    
}

#header-container > div > h1{
    color: rgb(125, 62, 17);
}

/*animation for content header*/
@keyframes hook-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/*button header content*/
.general-button{
    padding: 10px;
    margin: 0 auto;
    width: 300px;
    background-color: blanchedalmond;
    border-radius: 20px;
    line-height: 2.5rem;
}
.general-button:hover{
    transform: scale(1.1);
}
.general-button a{
    display: block;
}

/*First steps section*/
#first-steps-container{
    width: 100%;
    padding: 20px;
    color: rgb(125, 62, 17) ;
    background-color: rgba(92, 223, 129, 0.729);
    text-align: center;
}

/*Tips section*/
.tips-container{
    width: 80%;
    margin:0 auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
.tips-container:nth-child(odd){
    flex-direction: row-reverse;
}
.tips-container > div, img{
    flex: 0 0 calc(40% );
}

.tips-container > div {
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

#tips h3{
    font-size: 2.5rem;
    color: green;
}
#tips > ul > li {
    font-size: 1.9rem;
    list-style: disc;
}

/*Footer*/

footer{
    margin-top: 20px;
    width: 100%;
    height: 80px;
    background-color: rgba(92, 223, 129, 0.729);
}

/*Support page style*/
#header-support-container {
    width: 100%;
    height: 80vh;
    background-color: rgb(173, 216, 230);
    background: url("/assets/images/therapy2.jpg") no-repeat center center / cover;
}