
:root{
  --fondo:rgb(246, 244, 243);
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10px */    
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*Fonts from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Raleway:wght@500&display=swap');

/*Globals*/
html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
  background-color: var(--fondo);
}


h1, h2 , h3 {
  margin: 10px;
  color: #9c460c;
  text-shadow: 3px 4px 3px rgb(255, 255, 255);
  font-family: 'Fira Sans', sans-serif;
}
h2 {
  font-size: 30px;
}
h3{
  font-size: 25px;
}
p {
  margin: 0;
  text-align: justify;
  font-size: large;
  padding: 10px;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  font-size: large;
  list-style:none;
}
a {
  font-family: 'Fira Sans', sans-serif;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  color: black;
}
img {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/*Navegation and logo*/

#nav-container {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px black solid;
}

#logo {
  width: 100px;
  cursor: pointer;
}

#nav-container > ul {
  margin-right: 40px;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-container > ul > li:hover a {
  color:white;
  text-shadow:2px 3px 3px #9c460c;
}




/*Header section*/
#header-container {
  display: grid;
  place-items: center;
  margin: 10px auto;
  width: 70%;
  height: 60vh;
  padding: 20px;
  background-color: #cd2971;
  background: url("../images/background-3.jpg") no-repeat top right / cover;
}

/*Content inside the header for all pages*/
#hook-container {
  width: 300px;
  padding: 10px;
  background-color:rgba(246, 244, 243, .6);
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  animation: 5s hook-zoom forwards;
}

/*animation for content header*/
@keyframes hook-zoom {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

/*button header content*/
.general-button {
  margin: 0 auto;
  padding: 10px;
  width: 80%;
  background-color: blanchedalmond;
  border-radius: 10px;
  /* line-height: 2.5rem; */
}
.general-button:hover{
  transform: scale(1.1);
  background-color: #9c460c;
  color: white;
}
.general-button a {
  display: block;
  font-size: 15px;
}

/*Services section*/
#services-container{
  margin-bottom: 10px;
  text-align: center;
  display: flex;
}

#content-services > p{
  margin: 0 auto;
  width: 80%;
  text-align: justify;

}
#side-image-container{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.img-container{
  width: 200px;
  height: 200px;
  flex: 0.5 1 200px;
}

/*First steps section contains tips and images of every tip*/
#first-steps-container {
  width: 100%;
  color:#9c460c;
  font-size: 30px;
  text-align: center;
  border-top: 1px solid rgb(241, 193, 169);
}
#first-steps-container h2{
  margin: 40px 0;
}

/*Tips section*/
.tips-container{
  display: flex;
  justify-content: space-between;
}
.tips{
  padding: 20px;
  margin: 0 auto;
  width: 70%;
}
.img-tips{
  width: 70%;
}
.tips > ul{
  margin: 0 auto;
  width: 80%;

}
.tips > ul > li{
  list-style: decimal;
}


/*FOOTER STYLE*/

footer {
  clear: both;
  display: flex;
  background-color: blanchedalmond;
}

footer div, footer p{
  flex: 0 0 calc(50% - 10px);
}
#social-media-container{
  display: flex;
  justify-content:center;
  align-items: center;
}

#social-media-container a{
  margin-right: 20px;
}

#social-media-container a:hover{
  color: white;
}
/*END FOOTER*/


/*SUPPORT PAGE STYLE*/
/*HEADER*/
#header-support-container {
  display: grid;
  place-items: center;
  margin: 10px auto;
  width: 70%;
  height: 60vh;
  padding: 20px;
  background-color: #cd2971;
  background: url("../images/therapy2.jpg") no-repeat center center / cover;
}
#hook-support-container {
  width: 500px;
  padding: 10px;
  background-color:rgba(246, 244, 243, .6);
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  animation: 5s hook-zoom forwards;
}

#resource-container{
  width: 80%;
  margin: 0 auto;
  border-top: 1px solid #9c460c;
}

#resource-container h3{
  text-align: center;
  font-size: 40px;
}

/*Therapist section contains foto of the person and info*/
#therapist-container{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
}

.container {
  flex: 1 1 200px;
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/*END SUPPORT PAGE STYLE*/

/*ABOUT PAGE STYLE*/
#about-container{
  margin-top:20px ;
  display: flex;
  justify-content: space-between;
}

#about-container > div:last-child{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
  padding: 20px;
  background-color:#cccccc84 ;
  justify-content: center;
  
}
#about-container > div > p {
  text-align: justify;
}

/*END ABPUT PAGE STYLE*/

/*CONTACT PAGE STYLE*/
/*contact page HEADER*/
#header-container-contact{
  margin-top: 20px;
  display: grid;
  width: 100%;
  place-items: center;
}

/*Contact form style and Contact information style*/
#contact-info-container{
  margin: 0 auto;
  width: 80%;
  padding: 20px;
  background-color: #cccccc84;
}


/*FORM*/
#form-container{
  width: 80%;
  display: flex;
  padding: 20px;
}
#form-container form,div{
  flex: 0 0 calc(50% - 10px);
}
#buttons-contact-container{
  display:flex;
}
label,option{
  font-size: 15px;
  color: #9c460c;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text],input[type=email] , select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit and reset button with a specific background color etc */
input[type=submit],input[type=reset] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=reset]{
  background-color: red;
  margin-left:20px ;
}
/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #85bd88;
}
input[type=reset]:hover{
  background-color: rgb(206, 112, 112);
}
